@font-face {
    font-family: 'PTSans-Bold';
    src: url("../assets/fonts/PTSans-Bold.ttf");
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url("../assets/fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: 'TTCommons-Bold';
    src: url("../assets/fonts/TTCommons-Bold.ttf");
}

@font-face {
    font-family: 'TTCommons-Regular';
    src: url("../assets/fonts/TTCommons-Regular.ttf");
}