//-----------------------------------Fonts-------------------------------------------

@import "fonts";

$ptsans-bold: "PTSans-Bold";
$ptsans-regular: "PTSans-Regular";

$ttcommons-bold: "TTCommons-Bold";
$ttcommons-regular: "TTCommons-Regular";

//-----------------------------------------------------------------------------------


//-----------------------------------Colors-------------------------------------------

$text-color: #FEFEFE;
$background-color: #222222;
$accent-color: #EA0FC1;
$second-accent-color: #C20FC1;
$record-buttons-color: #DD77DC;
$table-background-color: #DD77DC3B;
$table-border-color: #650953AB;

$bad-emotion-color: #109CEA;
$super-bad-emotion-color: #C31F2A;
$mid-emotion-color: #0FA862;

//-----------------------------------------------------------------------------------

//-----------------------------------Texts-------------------------------------------

@mixin accent-text() {
    font-family: $ptsans-bold;
    font-size: 44px;
    line-height: 110%;
}

@mixin company-name-text() {
    font-family: $ptsans-regular;
    font-size: 24px;
    line-height: 140%;
}

@mixin main-text() {
    font-family: $ttcommons-regular;
    font-size: 16px;
    line-height: 140%;
}

@mixin second-text() {
    font-family: $ttcommons-regular;
    font-size: 12px;
    line-height: 130%;
}

@mixin inputs-text() {
    font-family: $ttcommons-regular;
    font-size: 14px;
    line-height: 120%;
}

//-----------------------------------------------------------------------------------

*,
::after, 
::before,
body {
    @include main-text();

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
}

a {
    text-decoration: none;

}

@mixin page-content() {
    width: 85.20833333333333%;
    margin: 65px 106px 0px 106px;
}

@mixin content-layout() {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@mixin table-row($background-color, $border-color) {
    width: 91.44254278728606%;

    & table 
    {
        width: 100%;
        border-spacing: 0px; 

        tbody tr 
        {
            & > :nth-child(1) {
                width: 9.090909090909091%;
                border-radius: 10px 0px 0px 10px;
            }

            & > :nth-child(6) {
                border-radius: 0px 10px 10px 0px;
            }

            td {
                width: 18.18181818181818%;
                padding: 16px 14px;

                background-color: $background-color;

                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                border-left: 1px solid $border-color;

                vertical-align: top;
                text-align: left;
            }
        }
    }
}

@mixin emotion-style($color) {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 8.912655971479501%;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 130px;
    height: 30px;

    border-radius: $second-border-radius;
    border: 1px solid $color;

    cursor: pointer;

    &.choosed {
        border: none;
        background-color: $color;
    }
}

@mixin button-style() {
    cursor: pointer;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: $second-border-radius;
    padding: 13px 15px;
}

$main-border-radius: 10px;
$second-border-radius: 5px;