@import "/src/styles/main.scss";

@import "/src/styles/main.scss";

.about {
    width: 100%;
    @include page-content();
    @include content-layout();

    .about_header {
        @include accent-text();
        padding-bottom: 20px;
    }
    
    .about_content p{
        @include content-layout();
        @include main-text();
        font-size: 24px!important;
        padding-bottom: 20px;
    }
}